.races {
    display: flex;
    flex-wrap: wrap;
}

.race {
    padding: 20px;
}

.race-link {
    margin: 20px;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.race-link:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.race .header {
    font-size: 24px;
}

.competitors h1 {
    display: flex;
    justify-content: center;
}

.competitors-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.competitor {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.competitor .header {
    font-size: 24px;
}
